# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dll
*.DS_Store
*.layout

.tags

build/
external/
ignored/
makebuild/

res/map/relief.png
android/app/app.iml
android/android.iml
android/local.properties
android/app/.cxx
.idea/
.clang_complete
android/app/local.properties
android/app/src/main/assets
android/keystore.properties
