# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dll

*.layout

.tags

build/
external/
ignored/
makebuild/

res/map/relief.png
android/SDL2/SDL2.iml
android/app/app.iml
android/android.iml
android/local.properties
.idea/
.clang_complete
